<div class="container">
  <div class="chat">
    <div class="header">
      <h1>Web Chat - 聊聊</h1>
    </div>

    <div class="outputs">
      <div class="left">
        {{#each user in users}}
          <div class="user">
            <img class="avatar" {{bind-attr src=user.avatar}}/>
            <strong>{{user.username}}</strong>
          <div>
        {{/each}}
      </div>

      <div class="right">
        {{#each msg in messages}}
          {{chat-message message=msg}}
        {{/each}}
      </div>
    </div>

    <div class="inputs">
      <div class="left">
        {{input type="text" class="full" value=user.username disabled=true}}
      </div>
      <div class="right">
        {{input type="text" id="msgInput" class="full" value=message placeholder="Type here.."}}
      </div>
    </div>

    <div class="footer">liaoliao.com</div>
  </div>
</div>
