<div class="container">
  <div class="chat">
    <div class="header">
      <h1>Web Chat - 聊聊</h1>
    </div>

    <div class="outputs">
      <div class="left">
        <ul>
          {{#each user in users}} 
            <li>
              <p>
                <strong>{{user}}</strong>
              </p>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="right">
        <ul class="messages">
          {{#each msg in messages}} 
            <li>
              <p class="bg-info">
                <strong>{{msg.username}}</strong>: {{msg.message}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="inputs">
      <div class="left">
        {{input type="text" class="full" value=name placeholder="Name here.."}}
      </div>
      <div class="right">
        {{input type="text" id="msgInput" class="full" value=message placeholder="Type here.."}}
      </div>
    </div>

    <div class="footer">liaoliao.com</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" {{action 'modalCancel'}}>
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">取消</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">输入昵称</h4>
      </div>
      <div class="modal-body">
        {{input value=name id="modalName" class="form-control" placeholder="输入昵称.."}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'modalCancel'}}>取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action 'modalSubmit'}}>确定</button>
      </div>
    </div>
  </div>
</div>
